NODE_ENV=development
PORT=3000
ORACLE_USER=SLOW_DATING_DEV
ORACLE_PASSWORD=replace-with-your-local-oracle-password
ORACLE_CONNECT_STRING=localhost:1521/XEPDB1
JWT_ACCESS_SECRET=replace-with-your-local-jwt-access-secret
OTP_PEPPER=replace-with-your-local-otp-pepper-value
REFRESH_TOKEN_PEPPER=replace-with-your-local-refresh-token-pepper
